title: "Nikhil Raghavendra"
description: "Studying intelligence, artificial and otherwise"
url: "https://starhopp3r.github.io"
baseurl: ""
timezone: Asia/Singapore
permalink: /posts/:title/
markdown: kramdown
highlighter: rouge
paginate: 5
paginate_path: "/page:num/"

navigation:
  - name: Home
    url: /
  - name: About
    url: /about

plugins:
  - jekyll-paginate

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: post
      author: "Nikhil Raghavendra"
      excerpt_separator: "<!--more-->"
